:root {
    --black: #060C0C;
    --cream: #E6DAC6;
    --hover: #343636;
    --header-height: 100px;
}

@font-face {
    font-family: "hussar";
    src: url("../assets/fonts/hussar-ekologiczny-font/HussarEkologiczne1-4Mj6.otf");
}

@font-face {
    font-family: "charis-sil";
    src: url("../assets/fonts/charis-sil-font/CharisSil-Jw77.ttf");
}

body {
    margin: 0px;
    font-family: 'Montserrat', cursive;
    overflow: auto;
    background-color: var(--cream);
    color: var(--black);
    height: 100vh;
}

#main-container {
    height: 100%;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', cursive;
    color: var(--black);
    font-size: 20px;
    transition: all 0.1s ease;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.graphic-font {
    font-family: 'charis-sil';
}

p {
    margin: 0;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 56px;
    margin: 0;
}

h3 {
    font-size: 48px;
    margin: 0;
}

h4 {
    font-size: 40px;    
    margin: 0;
}